.video-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 25px;
    padding:18px;
   
}
@media (min-width:1121px) {
    .video-grid
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width:861px ) and (max-width:1120px)
{
    .video-grid
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:860px)
{
    .video-grid
    {
        grid-template-columns: 1fr 1fr;
    }
}
.video-preview
{
    width: 100%;
    padding: 4px;
}
.video-row
{
    margin-bottom: 10px;
    position: relative;
}
.video-image
{
    width: 100%;
}
.video-row .duration
{
    position: absolute;
    bottom: 8px;
    right: 6px;
    color: white;
    background-color: black;
    border-radius: 2px;
    font-family: Arial;
    font-size: 12px;
    padding: 4px 6px;
}
.video-info-grid
{
    display: grid;
    grid-template-columns: 50px 1fr;

}
.profile-picture
{
    height: 40px;
    border-radius: 20px;
}
.video-title
{
    font-family: Arial;
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 8px;
    color: rgb(2, 1, 1);
}
.video-author
{
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 5px;
    color: gray;

}
.video-stats
{
    font-size: 14px;
    font-family: Arial;
    
    color: gray;
}